<footer class="site-footer">
  <div class="container">
    <p class="footer-name">{{ site.name }}</p>
    <p class="footer-address">{{ t.footer.address }}</p>
    <p class="footer-national">
      <a href="https://www.facebook.com/fgcogbz" target="_blank" rel="noopener">{{ t.footer.national }}</a>
    </p>
    <p class="footer-copy">&copy; {{ year }} {{ site.name }}. {{ t.footer.rights }}</p>
  </div>
</footer>
